
.authPopup
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgb(0, 0, 0, .8)
    z-index: 10
    display: flex
    align-items: center
    justify-content: center
    z-index: 100

    .container
        width: 90%
        max-width: 800px
        background-color: white
        padding: 3rem 5rem
        border-radius: 20px

        .important
            font-weight: 600

        .logOut
            padding: .75rem 1.2rem
            border-radius: 10px
            border: none
            cursor: pointer
            color: white
            background: rgb(29, 89, 255)
            font-family: 'Noto Sans Georgian', sans-serif

        .buttons
            display: flex
            align-items: center
            justify-content: space-between

            button
                margin: 0 !important
                box-shadow: none !important    
                border: solid 1px rgb(0, 0, 0, .2) !important



            div
                // font-size: 1.3rem

@media (max-width: 765px)
    .authPopup
        
        .container

            .buttons

                // div
                //     font-size: .2rem