
.page
    background-color: rgb(230, 230, 230, .8)

    .blob
        position: absolute
        z-index: -1
        left: 30%
        transform: scale(1)
        top: 20%
        animation: float 2s ease-in-out infinite alternate-reverse 


// @keyframes float
//     from
//         top: 20%

//     to
//         top: 25%