@use 'styles/variables.sass'

.page
    .company
        padding: 2rem 6%

        @include variables.Device($max: variables.$tablet)
            padding: 2rem 2%

        .info
            display: grid
            grid-template-columns: 1fr 4fr
            
            @include variables.Device($max: variables.$tablet)
                padding: 2rem 1%

            .left
                .image
                    width: 15rem

                    @include variables.Device($max: variables.$tablet)
                        width: 11rem

                    img
                        border-radius: 20px

            .center
                display: flex 
                flex-direction: column
                justify-content: space-between
                padding: .5rem 3rem

                @include variables.Device($max: variables.$tablet)
                    padding: 0 0 0 1.5rem
                
                h1
                    font-size: 2rem

                    @include variables.Device($max: variables.$tablet)
                        font-size: 1.7rem                

                .buttons
                    display: flex

                    @include variables.Device($max: variables.$tablet)
                        flex-direction: column 

                    *
                        font-size: 1rem
                        padding: .8rem 1.4rem
                        border-collapse: collapse
                        cursor: pointer
                        text-shadow: 0 0 0 rgba(0, 0, 0, .3)
                    
                        @include variables.Device($max: variables.$tablet)
                            font-size: 1.1rem
                            max-width: 80%
                            padding: 1rem

                    .active
                        background-color: rgb(50, 50, 50, .1)
                        border-radius: 5px

    .bottom
        margin: auto

        .addDataButtonsPlaceHolder
            display: grid
            grid-template-columns: 1fr 4fr
            padding: 0 6%
            justify-items: flex-start

            @include variables.Device($max: variables.$tablet)
                grid-template-columns: 1fr

            .addDataButtons
                max-width: 1100px
                padding: 2.5rem 3rem

                @include variables.Device($max: variables.$tablet)
                    display: flex
                    align-items: center
                    justify-content: space-around
                    padding: 0
                    width: 100%

                *
                    border-radius: 50px


        .wave1
            width: 100%

        .upperWave
            top: 0
            left: 0
            width: 100%
            overflow: hidden
            line-height: 0
            position: relative,

            @include variables.Device($max: variables.$tablet)
                margin: 3rem 0 0 0

            svg
                top: 0
                position: relative,
                display: block,
                width: calc(120% + 1.3px),
                height: 156px,

                @include variables.Device($max: variables.$tablet)
                    width: calc(150% + 1.3px),
                    height: 70px,

        .bottomWave
            top: 0
            left: 0
            width: 100%
            overflow: hidden
            line-height: 0

            svg
                position: relative
                display: block
                width: calc(176% + 1.3px)
                height: 156px

                @include variables.Device($max: variables.$tablet)
                    width: calc(196% + 1.3px)
                    height: 90px

// @media only screen and (max-width: 769px)
//     .page

//         .company
//             padding: 2rem 4%

//             .info
//                 grid-template-columns: 1fr 4fr

//                 .left

//                     .image
//                         width: 11rem

//                 .center
//                     padding: 0 0 0 1.5rem

//                     h1
//                         font-size: 1.7rem

//                     .buttons
//                         flex-direction: column

//                         *
//                             font-size: 1.1rem
//                             max-width: 70%
//                             padding: 1rem

//         .bottom
//             .addDataButtonsPlaceHolder
//                 grid-template-columns: 1fr

//                 .addDataButtons
//                     display: flex
//                     align-items: center
//                     justify-content: space-around
//                     padding: 0
//                     width: 100%

            
//             .upperWave
//                 margin: 3rem 0 0 0

//                 svg
//                     width: calc(150% + 1.3px),
//                     height: 70px,

//                     path

//             .bottomWave

//                 svg
//                     width: calc(196% + 1.3px)
//                     height: 90px