@import url("//cdn.web-fonts.ge/fonts/alk-rounded-mtav-med/css/alk-rounded-mtav-med.min.css")
@import url("//cdn.web-fonts.ge/fonts/arial-geo/css/arial-geo.min.css")
@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css")
@import url("//cdn.web-fonts.ge/fonts/bpg-boxo/css/bpg-boxo.min.css")
@import url("//cdn.web-fonts.ge/fonts/bpg-le-studio-02-caps/css/bpg-le-studio-02-caps.min.css")
@import url("//cdn.web-fonts.ge/fonts/bpg-mrgvlovani-caps/css/bpg-mrgvlovani-caps.min.css")

$manPosition: -200%
// $secondContainerColor: #f1f2f6
$secondContainerColor: white
// $secondContainerColor: #f7f1e3
	
@mixin container($height: 100vh)
	display: grid
	grid-template-columns: 1fr 1.2fr
	align-items: center
	height: $height
	justify-content: center
	position: relative

	.left
		// position: relative
		display: flex
		height: 100%
		text-align: center
		align-items: center
	
	// .right
	// 	position: relative
	// 	display: flex
	// 	height: 100%
	// 	text-align: center
	// 	align-items: center


@mixin wave($color: white)
	position: absolute
	bottom: -2px
	left: 0
	width: 100%
	overflow: hidden
	line-height: 0
	transform: rotate(180deg)
	border-bottom: 1px white

	svg
		
		.shapeFill
			fill: $color


@mixin blob($top: initial, $bottom: initial, $left: initial, $right: initial, $scale: 1)
	width: 40rem
	top: $top 
	left: $left 
	right: $right 
	bottom: $bottom 
	position: absolute
	opacity: .2
	transform-origin: top left
	scale: $scale


@mixin manAvatar($scale: 1)
	bottom: 0
	position: absolute
	transform-origin: bottom 
	transform: scale($scale)


@keyframes animateBlobOne
	from
		transform: translate(-40%, -55%) 
		rotate: 0deg
	to
		rotate: 10deg
		transform: translate(-40%, -50%) 

@keyframes animateBlobTwo
	from
		transform: translate(-10%, 10%) 
		rotate: -10deg
		// rotate: -5deg
	to
		rotate: 0deg
		// rotate: -15deg
		transform: translate(-10%, 0%) 

@keyframes animateThirdAvatar
	from
		transform: translateY(-5%)

	to
		transform: translateY(0%)	
		

.indexPage
	text-align: center
	// font-family: "ALK Rounded Mtav Med", sans-serif
	// font-family: "Arial GEO", sans-serif
	// font-family: "BPG Arial Caps", sans-serif
	// font-family: "BPG LE Studio 02 Caps", sans-serif

	.containerOne
		@include container(87vh)
		color: white
		background: #ED213A
		background: -webkit-linear-gradient(to left, #93291E, #ED213A)
		background: linear-gradient(to left, #FF324B, #ED213A)
		// z-index: 1

		.avatar
			display: flex
			width: 100%
			height: 100%
			align-items: end
			justify-content: center
			margin: auto

			img
				width: 750px

		.blobOne
			// @include blob($left: -5%, $top: -5%, $scale: 2.5)
			@include blob($left: 0, $top: 0, $scale: 2)
			// transform-origin: top left
			// translate: 
			// transform: translateX(-5%)
			animation: animateBlobOne 7s infinite alternate ease-in-out

		.blobTwo
			// @include blob($right: 0, $bottom: 0)
			@include blob($right: 0, $bottom: 0, $scale: 2)
			animation: animateBlobTwo 4s infinite alternate ease-in-out

		.waveOne
			@include wave()
		
			svg
				position: relative
				display: block
				width: calc(100% + 1.3px)
				height: 140px

				.shapeFill
					fill: $secondContainerColor

		h1	
			font-size: 4rem
			text-align: left
			line-height: 5.5rem
			margin: auto
			z-index: 10
			text-shadow: 2px 2px 2px black
			width: fit-content
			// position: relative
			// left: -300px
			animation: animateText 2s forwards
			font-weight: bold

			span
				font-size: 8rem
				position: relative
				left: -350px
				top: 15px
				animation: animateText 3s forwards
	
	.containerTwo
		@include container
		// background-color: #305acc
		color: #2f3640
		padding: 0 0 0 5rem

		.avatar
			padding: 0 0 3rem 0
			display: flex
			width: 100%
			height: 100%
			// align-items: end
			align-items: center
			justify-content: center
			
			img
				width: 35rem

		.right
			font-family: "BPG Mrgvlovani Caps", sans-serif
			// position: relative
			// text-align: left
			// display: flex
			// flex-direction: column
			position: relative
			display: flex
			flex-direction: column
			justify-content: center
			align-items: start
			text-align: left
			padding: 5rem

			.line2
				position: absolute
				top: 75%
				left: -30%
				rotate: 20deg
				right: -20%
				z-index: 1
				opacity: .7

			.miniHeader
				font-size: 1.6rem
				margin: 0 0 2rem 0
				position: relative
				z-index: 3				

				&::after
					z-index: -1
					position: absolute
					left: 0
					bottom: 0
					display: block
					content: ""
					height: 19px
					width: 100%
					left: 15px
					// background: #ED213A  /* fallback for old browsers */
					background: linear-gradient(to right, #ED4C6744, #a55eea44) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


			h1, h2, h3
				padding: 0 2rem 0 0
				position: relative
				// font-size: 2.5rem
				// font-weight: bold
				z-index: 10
				// text-shadow: 1px 1px 1px black

			p
				// text-align: justify
				z-index: 5
				position: relative
				padding: 0 2rem 0 0
				font-size: 1.6rem
				line-height: 3rem
			
			
			.blob
				position: absolute
				right: 50%
				bottom: -30%
				transform: scale(1)
				z-index: 0

		.waveTwo 
			@include wave()
			// position: absolute
			// bottom: -2px
			// left: 0
			// width: 100%
			// overflow: hidden
			// line-height: 0
			// transform: rotate(180deg)

			svg 
				position: relative
				display: block
				width: calc(100% + 0px)
				height: 105px
				
				.shapeFill 
					// fill: rgb(48, 90, 204)
	
	
	.containerThree
		@include container
		background-color: white
		color: black

		.right

		.avatar
			// animation: animateThirdAvatar 4s infinite alternate ease-in-out
			// width: 70%
			margin: auto
			padding: 1rem 0 0 0
			// position: relative
			// transform: scale(.7)
			z-index: 5

			img
				width: 38rem

		.left
			font-family: "BPG Mrgvlovani Caps", sans-serif
			position: relative
			display: flex
			flex-direction: column
			justify-content: center
			align-items: start
			text-align: left
			padding: 5rem

			.line1
				position: absolute
				top: 50%
				rotate: 90deg
				right: -20%
				z-index: 1
				opacity: .7

			.miniHeader
				font-size: 1.3rem
				position: relative
				z-index: 3				

				&::after
					// border-radius: 50px
					z-index: -1
					position: absolute
					left: 0
					bottom: 0
					display: block
					content: ""
					height: 18px
					width: 100%
					left: 15px
					// background: #ED213A  /* fallback for old browsers */
					background: linear-gradient(to right, #ED4C6744, #a55eea44) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

			p
				font-size: 1.6rem
				line-height: 3rem
				z-index: 2


				// p
				// 	font-size: 1.5rem

		h1
			font-weight: bold
			font-size: 2.5rem
	

	.containerFour
		@include container
		background-color: white
		color: black

		.left

			.avatar
				// animation: animateThirdAvatar 4s infinite alternate ease-in-out
				width: 70%
				margin: auto
				padding: 1rem 0 0 0
				// position: relative
				// transform: scale(.7)
				z-index: 5


		.right
			font-family: "BPG Mrgvlovani Caps", sans-serif
			position: relative
			display: flex
			flex-direction: column
			justify-content: center
			align-items: start
			text-align: left
			padding: 5rem

			.line1
				position: absolute
				top: 50%
				rotate: 90deg
				z-index: 0
				right: -20%

			.miniHeader
				font-size: 1.3rem
				position: relative
				z-index: 3				

				&::after
					// border-radius: 50px
					z-index: -1
					position: absolute
					left: 0
					bottom: 0
					display: block
					content: ""
					height: 18px
					width: 100%
					left: 15px
					// background: #ED213A  /* fallback for old browsers */
					background: linear-gradient(to right, #ED4C6744, #a55eea44) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

			p
				font-size: 1.6rem
				line-height: 3rem
				z-index: 2
			
			.avatar
				margin: auto
				// position: absolute
				bottom: 0
				left: 0
				width: 100%
				padding: 0 0 0 7rem
				transform-origin: bottom 
				transform: scale(1)

				// img
				// 	width: 300px

				// p
				// 	font-size: 1.5rem

		h1
			font-weight: bold
			font-size: 2.5rem


@keyframes animateMan
	from
		transform: translateY(100%)

	to
		transform: translateY(0) scale(.85)


@keyframes animateText
	to
		left: 0px

@media only screen and (max-width: 1500px)
	.indexPage

		.containerOne

			.avatar

				img
					width: 600px

@media only screen and (max-width: 769px)
	@keyframes animateMan
		from
			transform: translateY(100%)

		to
			transform: translateY(0) scale(.95)


	.indexPage

		.containerOne, .containerTwo, .containerThree, .containerFour
			grid-template-columns: 1fr
			grid-template-rows: 1fr 1.5fr

			.waveOne
				// display: none

				svg
					width: calc(100% + 143.3px)
					height: 87px

		.containerOne
			.avatar
				width: 90%

			h1
				font-size: 2.5rem

				span
					font-size: 7rem
					

			.avatar
				display: flex


		.containerTwo
			padding: 0

			.left
				order: 2

			.right
				padding: 4rem 2rem 2rem 2.5rem

				.line2
					display: none

				p
					// padding: 0 1rem
			
			.avatar
				display: flex
				padding: 0rem 2rem
				order: 1

			.waveTwo
				// display: none

				svg
					width: calc(100% + 143.3px)
					height: 87px

		.containerThree

			.left
				order: 1
				padding: 2rem

				.line1
					display: none

				p
					// padding: 2rem
					
			.right
				order: 2

				.avatar
					width: 90%
		
		.containerFour
			grid-template-columns: 1fr
			grid-template-rows: 1fr

			.left
				display: none

			.right
				padding: 2.5rem


@media only screen and (min-width: 2540px) 
	//For 4K Displays (Ultra HD)
	.indexPage

		.containerThree

			// .right
			.avatar

				img
					width: 1000px
			
			.left

				.line1
					scale: 2
					right: 0
	
		.containerTwo

			.line2
				left: 15% !important
				scale: 2

			.avatar
				
				img
					width: 1000px

		.containerOne

			.avatar
				
				img
					width: 1200px




// .containerTwo
// 	@include container
// 	background-color: $secondContainerColor
// 	color: #2f3640

// 	.avatar
// 		display: flex
// 		width: 100%
// 		height: 100%
// 		align-items: end
// 		justify-content: center
		
// 		img
// 			width: 600px

// 	.right

// 		h1, h2, h3
// 			padding: 0 2rem 0 0
// 			position: relative
// 			// font-size: 2.5rem
// 			// font-weight: bold
// 			z-index: 10
// 			// text-shadow: 1px 1px 1px black

// 		p
// 			padding: 0 2rem 0 0
// 			font-size: 1.6rem
// 			line-height: 3rem
		
		
// 		.blob
// 			position: absolute
// 			right: 50%
// 			bottom: -30%
// 			transform: scale(1)
// 			z-index: 0

// 	.waveTwo 
// 		@include wave()
// 		// position: absolute
// 		// bottom: -2px
// 		// left: 0
// 		// width: 100%
// 		// overflow: hidden
// 		// line-height: 0
// 		// transform: rotate(180deg)

// 		svg 
// 			position: relative
// 			display: block
// 			width: calc(100% + 0px)
// 			height: 105px
			
// 			.shapeFill 
// 				fill: rgb(48, 90, 204)


// .containerThree
// 	@include container
// 	background-color: rgb(48, 90, 204)
// 	color: white

// 	.right

// 		.avatar
// 			animation: animateThirdAvatar 4s infinite alternate ease-in-out
// 			width: 70%
// 			margin: auto
// 			padding: 1rem 0 0 0
// 			// transform: scale(.7)



// 	.left	
// 		position: relative
// 		display: flex
// 		justify-content: center
// 		text-align: left
// 		padding: 5rem


// 		p
// 			font-size: 1.6rem
// 			line-height: 3rem
		
// 		.avatar
// 			margin: auto
// 			// position: absolute
// 			bottom: 0
// 			left: 0
// 			width: 100%
// 			padding: 0 0 0 7rem
// 			transform-origin: bottom 
// 			transform: scale(1)

// 			// img
// 			// 	width: 300px

// 			// p
// 			// 	font-size: 1.5rem

// 	h1
// 		font-weight: bold
// 		font-size: 2.5rem


// .latestSalaries 
// 	position: relative
// 	background-color: white
// 	z-index: 10

// 	.header
// 		padding: 6rem 0 3rem 0
