
.companies
    padding: 0rem 1.5rem
    // padding: 0 3%
    // width: 97%
    // margin: auto
    display: grid
    grid-template-columns: repeat(3, 1fr)
    text-align: center

    .company
        background-color: white
        margin: 2rem 1.5rem
        // background-color: rgb(230, 230, 230, .4)
        border: solid 1px rgb(210, 210, 210)
        padding: 3rem 1rem
        border-radius: 5px
        // box-shadow: 0px 20px 20px rgb(0, 0, 0, .15)
        transition: .5s box-shadow ease-in-out
        transition: .2s ease-in-out
        cursor: pointer

        &:hover
            transform-origin: center
            // transform: scale(1.01)
            box-shadow: 0 0 15px rgb(0, 0, 0, .1)

        .top

            .companyImage
                font-size: 1rem
                max-width: 150px
                margin: auto
                // display: flex
                // align-items: center
                // justify-content: center

                img
                    border-radius: 20px
                    // border-radius: 1000px

        .bottom

            .companyName
                padding: 1.5rem 0 2rem 0
                font-size: 1.2rem
                max-width: 350px
                text-overflow: ellipsis
                overflow: hidden
                white-space: nowrap
                margin: auto

            
          
            .companyData
                display: grid
                grid-template-columns: 1fr 1fr


                .startIcon
                    display: flex
                    align-items: center
                    justify-content: center
                    // color: rgb(240, 240, 89)
                    // color: gold
                    // color: #f7c10e
                    color: #e6b000
                    padding: 0 .4rem 0 0

                .vacancyIcon
                    display: flex
                    align-items: center
                    justify-content: center
                    color: rgb(80, 80, 80)
                    padding: 0 .4rem 0 0

                span
                    display: flex
                    align-items: center
                    justify-content: center

                p
                    font-size: 1rem

            
            .buttons 
                display: flex
                align-items: center
                justify-content: center
                padding: 2rem 0 0 0
                z-index: 100
                // justify-content: space-between

                .button
                    // font-family: 'Noto Sans Georgian', sans-serif
                    padding: .6rem 1.1rem
                    // padding: .5rem 1rem
                    background-color: rgb(29, 89, 255)
                    border-radius: 5px
                    color: white
                    max-width: 200px
                    cursor: pointer
                    margin: 1rem 1rem
                    border: none
                    font-size: .8rem


@media only screen and (max-width: 769px)
    .companies
        grid-template-columns: repeat(1, 1fr)
        padding: 0rem 1rem

        .company
            margin: 2rem 1rem

            .bottom

                .companyName
                    font-size: 1.4rem
                    max-width: 250px

                .companyData
                    // font-size: 1.3rem

                .buttons

                    .button
                        font-size: 1rem
                        padding: .7rem 1.2rem

@media only screen and (max-width: 320px)
        .companies

            .company
                margin: 2rem 1rem

                .bottom

                    .companyData

                        p
                            font-size: 1.2rem


@media only screen and (min-width: 426px) and (max-width: 1024px)
    .companies
        grid-template-columns: repeat(2, 1fr)