

.footer
    display: grid
    align-items: center
    justify-content: center
    justify-items: center
    grid-template-columns: 1fr 1fr
    padding: 3rem 1rem
    margin: 1rem 0

    .list
        display: flex
        flex-direction: column

        *
            padding: .5rem 0
