@use "styles/variables.sass"
    
.header
    font-size: 1rem
    background-color: white    
    height: 12vh
    display: grid
    grid-template-columns: 1fr 4fr 1fr
    align-items: center
    justify-content: space-between
    justify-items: center
    padding: 0rem 3rem
    // box-shadow: 1px 1px 5px rgb(0, 0, 0, .3)
    z-index: 99

    @include variables.Device($max: variables.$tablet)
        padding: 0rem 2rem
        height: 9vh

    .websiteName
        padding: 0 0 0 0
        display: flex
        justify-content: left
        align-items: end
        font-size: 1.8rem
        font-family: 'Comfortaa', cursive
        font-weight: 700
        letter-spacing: -1px
        cursor: pointer
        color: rgb(10, 10, 10, 1)
        
        h1
            font-size: 1.8rem
            font-weight: 600

        h6
            padding: 0 0 0 5px
            font-size: 1rem

    .links
        justify-content: right
    
        @include variables.Device($max: variables.$tablet)
            display: none

    .pill
        font-size: .7rem
        padding: .3rem .6rem
        align-self: flex-start
        font-weight: 300
        letter-spacing: .05rem
        color: white
        border-radius: 1000px
        margin: 0 0 0 .5rem
        background-color: rgb(130, 130, 130)

    ul
        display: flex
        align-items: center

        li
            padding: 0 0 0 0rem
            font-size: .92rem
            cursor: pointer
            display: flex
            align-items: center

            a
                margin: 0 1.8rem 0 0

            @include variables.Device($max: variables.$tablet)
                padding: 0 0 0 2rem

    .burgerButton
        display: none

        @include variables.Device($max: variables.$tablet)
            display: flex
            justify-content: end
            grid-column: 3

    .searchDiv

        @include variables.Device($max: variables.$tablet)
            display: none

// @media only screen and (max-width: 769px)   
//     .header 
//         padding: 0rem 2rem
//         height: 9vh

//         ul
//             li
//                 padding: 0 0 0 2.5rem

//         .links
//             display: none
        
//         .searchDiv
//             display: none
        
//         .burgerButton
//             display: flex
//             justify-content: end
//             grid-column: 3
