.header
    font-size: 1rem
    background-color: white    
    height: 12vh
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0rem 3rem
    // box-shadow: 1px 1px 5px rgb(0, 0, 0, .3)

    ul
        display: flex
        align-items: center

        li
            padding: 0 0 0 3.5rem
            cursor: pointer

@media only screen and (max-width: 769px)
    .header 
        padding: 0rem 2rem
        height: 9vh

        ul
            li
                padding: 0 0 0 2.5rem
