
@mixin block()
    display: flex
    flex-direction: column
    align-items: left
    justify-content: center
    padding: .5rem 0
    position: relative

// Style for generalt input
@mixin input($width: 15rem, $borderRadius: 5px)
    // padding: .7rem .6rem
    padding: 0rem .6rem
    // margin: .5rem 0
    height: 2.5rem
    font-size: 1rem
    border: none
    width: $width
    background-color: #fafafa
    color: #535347
    box-shadow: inset 0px 0 2px 0px rgb(0 0 0 / 30%)
    outline: none
    border-radius: $borderRadius
    letter-spacing: .5px

    @media screen and ( min-width: 1023px ) and ( max-width:  1440px )
        // width: calc(#{$width} - 1rem)

// Style for input type Select 
@mixin selectTypeInput($borderRadius: 5px, $padding: 0, $width: 3rem) 
    background-color: #fafafa
    border: none
    box-shadow: inset 0px 0px 2px 0px rgb(0 0 0 / 30%)
    outline: none
    border-radius: $borderRadius
    font-size: .9rem
    font-family: 'Roboto', sans-serif
    color: rgb(100, 100, 100)
    height: 2.54rem
    // padding: $padding
    padding: 0rem .4rem
    width: $width

    @media screen and (min-width: 2550px)
        option
            font-size: .6rem

@mixin label()
    margin: 0 0 .5rem 0
    display: block
    
@mixin datalist()
    box-shadow: inset 0 0 3px rgb(0, 0, 0, .3)
    border-radius: 5px
    display: block
    position: absolute
    width: calc(100% - 2rem)
    background-color: white
    margin: auto
    padding: .5rem 0
    cursor: pointer
    // transform: translateY(80px)
    transform: translateY(100%)
    z-index: 10
    
    option
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        font-size: .9rem
        padding: .5rem 1rem    



.salaryInputBlock
    @include block()


    label
        @include label()
        
    select
        @include selectTypeInput($borderRadius: 0 5px 5px 0, $width: 4rem)
        // height: 2.54rem

    input
        @include input($width: 11rem, $borderRadius: 5px 0 0 5px)
        margin: 0
        
.companyInputBlock
    // @include block()
    position: relative
    padding: .5rem 0

    label
        @include label()
        

    input
        @include input()
        // margin: 0

    datalist
        // @include datalist()
        background-color: white
        box-shadow: 0 0 3px rgb(0, 0, 0, .3)
        display: none
        position: absolute
        z-index: 100

        option
            padding: .7rem 1rem
            cursor: pointer

.positionInputBlock
    position: relative
    padding: .5rem 0
    // margin-left: 1.5rem
    // margin: 0 1rem
    // display: flex
    // flex-direction: column
    // align-items: left
    // justify-content: center
    // align-items: left

    // @include block()

    label
        @include label()
        
    input
        @include input()
        // margin: 0

    datalist
        // padding: .5rem
        // @include datalist()
        background-color: white
        box-shadow: 0 0 3px rgb(0, 0, 0, .3)
        display: none
        position: absolute
        z-index: 100

        option
            padding: .7rem 1rem
            cursor: pointer



.seniorityInputBlock
    @include block()

    label
        @include label()
        

    input
        @include input()
        margin: 0

    datalist
        @include datalist()
    
    select
        @include selectTypeInput($width: 15rem)

        // @media screen and ( min-width: 1023px ) and ( max-width: 1440px )
        //     @include selectTypeInput($width: 14rem)




.technologyInputContainer
    grid-column: 1 / -1
    margin: 0 0 0 0
    font-size: 1rem

    .technologyList
        box-shadow: inset 0px 0 3px 0px rgb(0 0 0 / 30%)
        border-radius: 5px
        line-height: 1.5rem
        display: flex
        padding: .75rem .5rem
        margin: .5rem 0 0 0
        flex-wrap: wrap

        .technologyPill
            font-size: .8rem
            padding: 0rem .5rem        
            border: solid 1px rgb(0, 0, 0, .5)
            margin: .2rem  .1rem
            border-radius: 20px
            display: inline-block

        .inputBlock
            display: inline-block
            display: flex
            align-items: center
            position: relative

            input
                outline: none
                width: 80px
                border: none
                margin: 0 .3rem
                font-size: 1rem

            datalist
                background-color: white
                position: absolute
                box-shadow: inset 0 0 2px rgb(0 0 0 / 30%)
                border-radius: 3px
                margin: 1rem 0 0 0
                transform: translateY(60%)                

                option
                    cursor: pointer


@media screen and (max-width: 768px)
    .salaryInputBlock

        select
            height: 2.54rem
    
    .positionInputBlock
        margin-left: 0