@use 'styles/variables.sass'

.submitReview
    @include variables.FlexCenter
    position: fixed
    overflow: hidden
    left: 0
    top: 0 
    width: 100vw
    height: 100vh
    background-color: rgb(0, 0, 0, .8)
    z-index: 100
    font-size: 1rem

    .container
        border-radius: 20px
        overflow: hidden
        max-width: 1300px
        width: 90vw
        background-color: white
        box-shadow: 0 0 25px black
        display: grid
        grid-template-columns: 1fr 1.5fr
        max-height: 850px
        height: 95vh

        @include variables.Device($min: variables.$fourK)
            max-width: 1800px
            max-height: 1300px

        @include variables.Device($max: variables.$largeLaptop)
            width: 98vw

        @include variables.Device($max: variables.$tablet)
            grid-template-columns: 1fr
            height: auto
            max-height: 100vh
            overflow: auto

        .avatar
            display: flex
            background-color: rgb(218, 203, 77)
            align-items: end
            justify-content: center

            @include variables.Device($max: variables.$tablet)
                display: none

            img
                width: 400px

                @include variables.Device($min: variables.$fourK)
                    width: 550px

        .right
            padding: 2rem 2rem
            overflow-y: scroll

            @include variables.Device($max: variables.$tablet)
                padding: 1rem 1.5rem

            .stars
                svg

                    @include variables.Device($min: variables.$fourK)
                        width: 60px
                        height: 60px

                    @include variables.Device($max: variables.$tablet)
                        width: 30px

            .error
                padding: 1.3rem 0 0 1.2rem
                color: #ff000d

            &::-webkit-scrollbar
                width: 10px

            &::-webkit-scrollbar-track 
                background: rgb(255, 255, 255)
            
            &::-webkit-scrollbar-thumb
                background: rgb(150, 150, 150)  
                border-radius: 1000px  

            input
                padding: 0rem .6rem
                margin: .5rem 0
                height: 2.5rem
                font-size: 1rem
                border: none
                background-color: #fafafa
                color: #535347
                box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 30%)
                outline: none
                border-radius: 5px
                letter-spacing: .5px

            .inputsBlock
                display: flex

                @include variables.Device($max: variables.$tablet)
                    flex-direction: column

            .rating
                display: flex
                align-items: center

                .ratingNumber
                    font-size: 1.2rem
                    padding: 0 0 5px 1rem

                    @include variables.Device($max: variables.$tablet)
                        padding: 0 0 1px 1rem

            .reviewText
                margin: 1rem 0
                
                textarea
                    font-size: 1rem
                    padding: 1rem
                    outline: none
                    resize: none
                    font-family: 'Noto Sans Georgian', sans-serif 
                    letter-spacing: 1px
                    border-radius: .5rem
                    border: solid 1px rgb(0, 0, 0, .2)
                    width: 100%
                    box-shadow: 0px 0px 2px 0 rgb(0 0 0 / 20%) inset

                    @include variables.Device($min: variables.$fourK)
                        font-size: .9rem
                    
                    &::-webkit-scrollbar
                        width: 10px
 
                    &::-webkit-scrollbar-track 
                        background: rgb(255, 255, 255)
                    
                    &::-webkit-scrollbar-thumb
                        background: rgb(230, 230, 230)
            
            .submit
                display: block
                padding: .8rem 4rem
                margin: 2rem auto 1rem auto
                background-color: #4272d7
                color: white
                border: none
                border-radius: 10px
                letter-spacing: .5px
                font-size: 1rem
                cursor: pointer
                        
                    

// @media screen and (max-width: 768px)
//     .submitReview
//         .container
//             // grid-template-columns: 1fr
//             // height: auto
//             // max-height: 100vh
//             // overflow: auto

//             // textarea
//             //     width: 100%

//             // .avatar
//             //     display: none

//             // .right
//             //     padding: 1rem 1.5rem 

//                 // .stars
//                 //     svg
//                 //         width: 30px

//                 // .rating
//                 //     .ratingNumber
//                 //         padding: 0 0 1px 1rem
                
//                 // .inputsBlock
//                 //     flex-direction: column

                    
// @media screen and (min-width: 2550px)
//     .submitReview
        
//         .container
//             max-width: 1800px
//             max-height: 1100px

//             .avatar

//                 img
//                     width: 550px

//             .right

//                 .rating
                    
//                     .stars
                        
//                         svg
//                             width: 60px
//                             height: 60px

//                 .reviewText
                    
//                     textarea
//                         font-size: .75rem

                        
// @media screen and (max-width: 1439px)
//     .submitReview

//         .container
//             width: 98vw
