@use 'styles/variables.sass'
    
// General input style
@mixin input()
    padding: 0rem .6rem
    margin: 0
    height: 2.5rem
    font-size: 1rem
    border: none
    background-color: #fafafa
    color: #535347
    box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 90%)
    outline: none
    border-radius: 5px
    letter-spacing: .5px    
    background-color: rgb(246, 246 ,246)
    box-shadow: 0 0 0 1px rgb(50, 50, 50, .2)

    
// Select input style
@mixin selectInput($bgColor: initial, $borderRadius: 0 0 0 0, $padding: 0) 
    background-color: $bgColor
    border: none
    box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 80%)
    outline: none
    border-radius: $borderRadius
    font-size: .9rem
    font-family: 'Roboto', sans-serif
    color: rgb(100, 100, 100)
    height: 2.5rem
    padding: $padding

    @media screen and (max-width: 768px)
        height: 2.54rem


// Div containing label and input
@mixin inputBlock()
    display: flex
    flex-direction: column
    width: 240px
    justify-content: center
    // align-items: center
    margin: .8rem auto    

    label
        font-size: .9rem
        margin: 0 0 .5rem 0

    input
        @include input()

.submitSalary
    @include variables.FlexCenter
    position: fixed
    overflow: hidden
    left: 0
    top: 0 
    width: 100vw
    height: 100vh
    background-color: rgb(0, 0, 0, .8)
    z-index: 100
    font-size: 1rem

    .container
        position: relative
        border-radius: 20px
        overflow: hidden
        max-width: 1100px
        width: 95vw
        background-color: white
        box-shadow: 0 0 25px black
        display: grid
        grid-template-columns: 1fr 1.5fr
        height: 500px
        padding: 0

        @include variables.Device($min: variables.$fourK)
            max-width: 2000px
            height: 800px

        @include variables.Device($max: variables.$tablet)
            grid-template-columns: 1fr
            height: auto
            max-height: 100vh
            overflow: auto

        .avatar
            background-color: rgb(48, 238, 143)
            display: flex
            align-items: end
            justify-content: center
            border-radius: 5px 0 0 5px 
            padding: 0 1rem 0 0

            @include variables.Device($min: variables.$fourK)
                background-color: rgb(48, 238, 143)
                display: flex
                align-items: end
                justify-content: center
                border-radius: 5px 0 0 5px 
                padding: 0 1rem

            @include variables.Device($max: variables.$tablet)
                display: none
                padding: 1rem .5rem 0 .5rem

            img
                min-width: 250px
                width: 450px

                @include variables.Device($min: variables.$fourK)
                    min-width: 250px
                    width: 650px

        // .inputs
        .inputsDiv
            overflow-y: scroll
            padding: 1rem 3rem

            @include variables.Device($max: variables.$tablet)
                order: 1
                padding: 2rem 1.5rem

            @include variables.Device($min: variables.$laptop, $max: variables.$largeLaptop)
                padding: 2rem 1rem

            &::-webkit-scrollbar
                width: 10px

            &::-webkit-scrollbar-track 
                background: rgb(255, 255, 255)
            
            &::-webkit-scrollbar-thumb
                background: rgb(150, 150, 150)  
                border-radius: 1000px  

            .error
                padding: 1.3rem 0 0 1.2rem
                color: #ff000d

            h1
                text-align: center
                padding: 0 0 2rem 0

            .submit
                position: absolute
                right: 1rem
                bottom: 1rem
                display: block
                padding: .8rem 4rem
                // margin: auto
                margin: 2rem auto 0rem auto
                // background-color: #4272d7
                background-color: #00d86c
                color: white
                border: none
                border-radius: 10px
                letter-spacing: .5px
                font-size: 1rem
                cursor: pointer

            .fields
                display: grid
                grid-template-columns: 1fr 1fr
                justify-content: space-around
                width: 100%
                
                @include variables.Device($max: variables.$tablet)
                    grid-template-columns: 1fr

                label

                    @include variables.Device($max: variables.$tablet)
                        display: block

                .seniorityInputBlock         
                    @include inputBlock()

                    select
                        @include selectInput($bgColor: #fafafa, $borderRadius: 5px, $padding: .6rem 1rem)
                
                
                .salaryInputBlock
                    @include inputBlock()

                    .salaryInputWithCurrency
                        display: flex
                        align-items: center

                        input
                            border-radius: 5px 0 0 5px                            
                            background-color: rgb(246, 246 ,246)
                            box-shadow: 0 0 0 1px rgb(50, 50, 50, .2)


                        select
                            @include selectInput($borderRadius: 0 5px 5px 0, $padding: 0 .2rem)
                            



// @media screen and (max-width: 768px)
//     .submitSalary
//         // .container
//         //     grid-template-columns: 1fr
//         //     height: auto
//         //     max-height: 100vh
//         //     overflow: auto
//             // padding: 2rem 1rem

//             .avatar
//                 display: none
//                 padding: 1rem .5rem 0 .5rem


//             .inputsDiv
//                 order: 1
//                 padding: 2rem 1.5rem

//                 .fields
//                     grid-template-columns: 1fr

//                     label
//                         display: block

// @media screen and (min-width: 2550px)

//     .submitSalary
    
//         .container
//             max-width: 2000px
//             height: 800px

        
//             .avatar
//                 background-color: rgb(48, 238, 143)
//                 display: flex
//                 align-items: end
//                 justify-content: center
//                 border-radius: 5px 0 0 5px 
//                 padding: 0 1rem

//                 img
//                     min-width: 250px
//                     width: 650px

// @media screen and (min-width: 1023px) and (max-width: 1439px)
//     .submitSalary
//         .container

//             .inputsDiv
//                 padding: 2rem 1rem